@page "/{author}/AboutMe"
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<h2>About Me - @Model.UserModel.Username</h2>

<form>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" value="@Model.UserModel.Username" readonly />
    </div>
    
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" class="form-control" value="@Model.UserModel.Email" readonly />
    </div>

    <!-- Add more fields here as needed -->
    
    
    <!-- TODO Create a red "Forget Me" button -->

</form>

