@page "/{author}"
@using Chirp.Core.Entities
@model Chirp.Razor.Pages.UserTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h2> @routeName's Timeline </h2>

        @if (!Model.Cheeps.Any())
        {
            <div>
                <p>@Model.Authorname has no cheeps so far.</p>
            </div>
        }
    
        else
        {
            @await Html.PartialAsync("Shared/_CheepList", Model)
        }
    </div>
}