@page "/{author}/AboutMe"
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>

<div class="cheepbox">
    <div>
        <span class="">Username:</span> 
        <span class="">@Model.UserModel.Username</span>
    </div>
    
    <div class="form-group">
        <span>Email:</span>
        <span class="">@Model.UserModel.Email</span>
    </div>
   
    <!-- TODO Create a red "Forget Me" button -->
    
    <hr/>
    
    <!-- TODO Create following stats -->
    
    <hr/>
    
    <!-- TODO Create a list of cheeps -->
    
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <h2>My Cheeps </h2>
            
            @if (!Model.Cheeps.Any())
            {
                <div>
                    <p>@Model.Authorname has no cheeps so far.</p>
                </div>
            }
            else
            {
                @await Html.PartialAsync("Shared/_CheepList", Model)
            }
        </div>
    }

</div>

