@page "/{author}/AboutMe"
@using Chirp.Core.Entities
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
@inject SignInManager<Author> SignInManager

<h2>About Me</h2>

<div class="cheepbox">
    <div>
        <span class="">Username:</span> 
        <span class="">@Model.UserModel.Username</span>
    </div>
    
    <div class="form-group">
        <span>Email:</span>
        <span class="">@Model.UserModel.Email</span>
    </div>
   
    <!-- TODO Create a red "Forget Me" button -->
</div>

<hr/>

<!-- TODO Create following stats -->

<hr/>

<!-- TODO Create a list of cheeps -->


<h3>My Cheeps</h3>

@if (!Model.UserModel.Cheeps.Any())
{
    <div>
        <p>You have no cheeps so far.</p>
    </div>
}
else if (Model.UserModel.Cheeps != null)
{
   @await Html.PartialAsync("~/Pages/Shared/_CheepList.cshtml", Model)
}
}



